
/* universal styling */
body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  background-color: #364a7a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #eeeb52b7, #6308976e, #d59d23, #6308976e);
}

html{
  font-size: 62.5%;
}

/* general styling */
a {
  text-decoration: none;
}

/* the profile card container styling */
.profile-card {
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 1.2rem;
  width: 80%;
  max-width: 600px;
  gap: 1rem;
}

/* profile container styling */
.top {
  position: relative;
  margin-bottom: 6.5rem;
}

.profile-wallpaper {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.profile-img-container {
  position: absolute;
  top: 50%;
  left: 1.5%;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: rgba(255, 255, 255, 0.938) solid 5px;
}


/*----- the details container----- */

.details-section {
  padding: 1rem;
}

  /* name and verified-icon container */
  .name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .verified-icon {
    width: 2rem;
  }

  .name {
    margin: 0;
  }

  /* all information in bio section  */
  .bio {
    color: #525357cb;
  }

  .first-paragraph {
    margin-bottom: 0.8rem
  }

  .second-paragraph {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  /* time container  */
  .time-container {
    display: flex;
    gap: 10px;
    margin-bottom: 0;
  }

  .time {
    font-size: 1rem;
    color: #525357cb;
  }

  .time-icon {
    width: 2rem;
  }

  /* socials link container */
  .social-icon {
    width: 2.5rem;
    transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
    border-radius: 1.5rem;
  }

  .social-icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  /* hobbies and dislike lists container  */
  .list-container{
    display: flex;
    gap: 1rem;
  }

  .list-details-heading {
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }

  li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 100;
    list-style: none;
  }

  
  .list-container ul {
    padding: 0;
    margin: 0;
  }

  /* make responsive across different screen sizes*/
  @media (min-width: 600px) {
    html {
      font-size: 70%;
    }

    .profile-card {
      width: 70%;
    }
  }

  @media (min-width: 1000px) {
    html {
      font-size: 80%;
    }
  }

