
/* universal styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #364a7a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #eeeb52b7, #6308976e, #d59d23, #6308976e);
}

/* general styling */
a {
  text-decoration: none;
}

/* the profile card container styling */
.profile-card {
  background-color: rgba(255, 255, 255, 0.938);
  border-radius: 12px;
  width: 70%;
  max-width: 600px;
  gap: 10px;
}

/* profile container styling */
.top {
  position: relative;
  margin-bottom: 50px;
}

.profile-wallpaper {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-img-container {
  position: absolute;
  top: 50%;
  left: 5%;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: rgba(255, 255, 255, 0.938) solid 5px;
}


/*----- the details container----- */

.details-section {
  padding: 20px;
}

  /* name and verified-icon container */
  .name-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .verified-icon {
    width: 20px;
  }

  .name {
    margin: 0;
  }

  /* all information in bio section  */
  .bio {
    color: #525357cb;
  }

  .first-paragraph {
    margin-bottom: 8px;
    margin-top: 10px;
  }

  .second-paragraph {
    margin-top: 0;
    margin-bottom: 5px;
  }

  /* time container  */
  .time-container {
    display: flex;
    gap: 10px;
    margin-bottom: 7px;
  }

  .time {
    font-size: 0.9rem;
    color: #525357cb;
  }

  .time-icon {
    width: 20px;
  }

  /* socials link container */
  .social-icon {
    width: 30px;
    transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
    border-radius: 15px;
  }

  .social-icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  /* hobbies and dislike lists container  */
  .list-details-heading {
    margin-top: 9px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  li {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 100;
  }

  .lists {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  .lists ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

